# [QLThuvien]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [QLThuvien]    Script Date: 10/31/2023 7:21:18 PM ******/
CREATE DATABASE [QLThuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuvien_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [QLThuvien] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [QLThuvien] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [QLThuvien] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [QLThuvien] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [QLThuvien] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [QLThuvien] SET ARITHABORT OFF 
GO
ALTER DATABASE [QLThuvien] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [QLThuvien] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [QLThuvien] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [QLThuvien] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [QLThuvien] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [QLThuvien] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [QLThuvien] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [QLThuvien] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [QLThuvien] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [QLThuvien] SET  DISABLE_BROKER 
GO
ALTER DATABASE [QLThuvien] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [QLThuvien] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [QLThuvien] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [QLThuvien] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [QLThuvien] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [QLThuvien] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [QLThuvien] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [QLThuvien] SET RECOVERY FULL 
GO
ALTER DATABASE [QLThuvien] SET  MULTI_USER 
GO
ALTER DATABASE [QLThuvien] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [QLThuvien] SET DB_CHAINING OFF 
GO
ALTER DATABASE [QLThuvien] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [QLThuvien] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [QLThuvien] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [QLThuvien] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'QLThuvien', N'ON'
GO
ALTER DATABASE [QLThuvien] SET QUERY_STORE = OFF
GO

# [dbo].[auth]

In [0]:
USE [QLThuvien]
GO

In [0]:
/****** Object:  Table [dbo].[auth]    Script Date: 10/31/2023 7:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth](
	[TenCV] [nchar](50) NOT NULL,
	[MaCV] [int] NOT NULL,
 CONSTRAINT [PK_auth] PRIMARY KEY CLUSTERED 
(
	[TenCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Book]

In [0]:
/****** Object:  Table [dbo].[Book]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[MaSach] [int] NOT NULL,
	[MaNXB] [int] NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[TheLoai] [nchar](20) NOT NULL,
	[NameTG] [nchar](50) NOT NULL,
	[NamXB] [date] NOT NULL,
	[TaiBan] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CT_Muon_Tra]

In [0]:
/****** Object:  Table [dbo].[CT_Muon_Tra]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Muon_Tra](
	[MaMT] [int] NOT NULL,
	[MaSach] [int] NOT NULL
) ON [PRIMARY]
GO

# [dbo].[Muon_Tra]

In [0]:
/****** Object:  Table [dbo].[Muon_Tra]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muon_Tra](
	[MaMT] [int] NOT NULL,
	[id_the] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[Ngay_Muon] [date] NOT NULL,
	[Ngay_Tra] [date] NOT NULL,
 CONSTRAINT [PK_Muon_Tra] PRIMARY KEY CLUSTERED 
(
	[MaMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[NhanVien]

In [0]:
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[NameNV] [nchar](50) NULL,
	[TenCV] [nchar](50) NOT NULL,
	[PhoneNV] [nchar](20) NOT NULL,
	[DateNV] [date] NOT NULL,
	[UserName] [nchar](20) NOT NULL,
	[Pass] [nchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[NXB]

In [0]:
/****** Object:  Table [dbo].[NXB]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Dc] [nchar](50) NOT NULL,
	[Email] [nchar](50) NOT NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Role]

In [0]:
/****** Object:  Table [dbo].[Role]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] NOT NULL,
	[Muon_tra] [bit] NULL,
	[Book] [bit] NULL,
	[NXB] [bit] NULL,
	[TheTV] [bit] NULL,
	[Nhan_vien] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[The_Thu_Vien]

In [0]:
/****** Object:  Table [dbo].[The_Thu_Vien]    Script Date: 10/31/2023 7:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[The_Thu_Vien](
	[idThe] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[NgayHethan] [date] NOT NULL,
	[NameDG] [nchar](50) NOT NULL,
	[Phone] [nchar](20) NOT NULL,
 CONSTRAINT [PK_The_Thu_Vien] PRIMARY KEY CLUSTERED 
(
	[idThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[auth]

In [0]:
INSERT [dbo].[auth] ([TenCV], [MaCV]) VALUES (N'Admin                                             ', 1)
INSERT [dbo].[auth] ([TenCV], [MaCV]) VALUES (N'Quản lý sách                                      ', 3)
INSERT [dbo].[auth] ([TenCV], [MaCV]) VALUES (N'Thủ thư                                           ', 2)
GO

# [dbo].[Book]

In [0]:
INSERT [dbo].[Book] ([MaSach], [MaNXB], [Name], [TheLoai], [NameTG], [NamXB], [TaiBan], [SL]) VALUES (1, 1, N'Hiệu ứng chim mồi                                                                                   ', N'kinh doanh          ', N'hạo nhiên                                         ', CAST(N'2023-01-01' AS Date), 1, 30)
INSERT [dbo].[Book] ([MaSach], [MaNXB], [Name], [TheLoai], [NameTG], [NamXB], [TaiBan], [SL]) VALUES (2, 1, N'Anh em nhà wright là ai ?                                                                           ', N'tiểu sử             ', N'Tim Foley                                         ', CAST(N'1999-09-19' AS Date), 5, 0)
INSERT [dbo].[Book] ([MaSach], [MaNXB], [Name], [TheLoai], [NameTG], [NamXB], [TaiBan], [SL]) VALUES (3, 3, N'Leonardo da Vinci là ai ?                                                                           ', N'Văn học             ', N'Roberta Edwards                                   ', CAST(N'2015-02-23' AS Date), 2, 15)
GO

# [dbo].[CT_Muon_Tra]

In [0]:
INSERT [dbo].[CT_Muon_Tra] ([MaMT], [MaSach]) VALUES (1, 1)
INSERT [dbo].[CT_Muon_Tra] ([MaMT], [MaSach]) VALUES (1, 3)
INSERT [dbo].[CT_Muon_Tra] ([MaMT], [MaSach]) VALUES (2, 2)
GO

# [dbo].[Muon_Tra]

In [0]:
INSERT [dbo].[Muon_Tra] ([MaMT], [id_the], [MaNV], [Ngay_Muon], [Ngay_Tra]) VALUES (1, 1, 2, CAST(N'2023-05-19' AS Date), CAST(N'2023-05-20' AS Date))
INSERT [dbo].[Muon_Tra] ([MaMT], [id_the], [MaNV], [Ngay_Muon], [Ngay_Tra]) VALUES (2, 3, 4, CAST(N'2023-05-20' AS Date), CAST(N'2023-05-27' AS Date))
GO

# [dbo].[NhanVien]

In [0]:
INSERT [dbo].[NhanVien] ([MaNV], [NameNV], [TenCV], [PhoneNV], [DateNV], [UserName], [Pass]) VALUES (1, N'Nguyễn Văn An                                     ', N'Admin                                             ', N'0911623456          ', CAST(N'2003-12-17' AS Date), N'admin123            ', N'12345               ')
INSERT [dbo].[NhanVien] ([MaNV], [NameNV], [TenCV], [PhoneNV], [DateNV], [UserName], [Pass]) VALUES (2, N'Trần Ngọc Bình                                    ', N'Thủ thư                                           ', N'0377856456          ', CAST(N'2001-08-22' AS Date), N'binh123             ', N'12345               ')
INSERT [dbo].[NhanVien] ([MaNV], [NameNV], [TenCV], [PhoneNV], [DateNV], [UserName], [Pass]) VALUES (3, N'Phan Anh Vũ                                       ', N'Quản lý sách                                      ', N'0384324567          ', CAST(N'1996-10-10' AS Date), N'vu123               ', N'12345               ')
INSERT [dbo].[NhanVien] ([MaNV], [NameNV], [TenCV], [PhoneNV], [DateNV], [UserName], [Pass]) VALUES (4, N'Hồ Thị Vui                                        ', N'Thủ Thư                                           ', N'0913456789          ', CAST(N'2001-11-11' AS Date), N'vui123              ', N'12345               ')
GO

# [dbo].[NXB]

In [0]:
SET IDENTITY_INSERT [dbo].[NXB] ON 
INSERT [dbo].[NXB] ([MaNXB], [Name], [Dc], [Email]) VALUES (1, N'NXB KIM ĐỒNG                                      ', N'55 Quang Trung, Hà Nội                            ', N'nxbkimdong@gmail.com                              ')
INSERT [dbo].[NXB] ([MaNXB], [Name], [Dc], [Email]) VALUES (2, N'NXB HỘI NHÀ VĂN                                   ', N'HAI BÀ TRƯNG Q3 TPHCM                             ', N'nxbhoinhavan@gmail.com                            ')
INSERT [dbo].[NXB] ([MaNXB], [Name], [Dc], [Email]) VALUES (3, N'NXB DÂN TRÍ                                       ', N'QUẬN ĐỐNG ĐA HÀ NỘI                               ', N'nxbdantri@gmail.com                               ')
SET IDENTITY_INSERT [dbo].[NXB] OFF
GO

# [dbo].[Role]

In [0]:
INSERT [dbo].[Role] ([idRole], [Muon_tra], [Book], [NXB], [TheTV], [Nhan_vien]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[Role] ([idRole], [Muon_tra], [Book], [NXB], [TheTV], [Nhan_vien]) VALUES (2, 1, 0, 0, 1, 0)
INSERT [dbo].[Role] ([idRole], [Muon_tra], [Book], [NXB], [TheTV], [Nhan_vien]) VALUES (3, 0, 1, 1, 0, 0)
GO

# [dbo].[The_Thu_Vien]

In [0]:
SET IDENTITY_INSERT [dbo].[The_Thu_Vien] ON 
INSERT [dbo].[The_Thu_Vien] ([idThe], [NgayTao], [NgayHethan], [NameDG], [Phone]) VALUES (1, CAST(N'2023-05-08' AS Date), CAST(N'2023-11-16' AS Date), N'Nguyễn Hoàng Luân                                 ', N'0938785947          ')
INSERT [dbo].[The_Thu_Vien] ([idThe], [NgayTao], [NgayHethan], [NameDG], [Phone]) VALUES (2, CAST(N'2023-05-08' AS Date), CAST(N'2023-09-05' AS Date), N'Luân Nguyễn                                       ', N'03977284567         ')
INSERT [dbo].[The_Thu_Vien] ([idThe], [NgayTao], [NgayHethan], [NameDG], [Phone]) VALUES (3, CAST(N'2023-05-10' AS Date), CAST(N'2023-05-11' AS Date), N'Trúc Anh Đài                                      ', N'0913456765          ')
SET IDENTITY_INSERT [dbo].[The_Thu_Vien] OFF
GO

# [FK_auth_Role]

In [0]:
ALTER TABLE [dbo].[auth]  WITH CHECK ADD  CONSTRAINT [FK_auth_Role] FOREIGN KEY([MaCV])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[auth] CHECK CONSTRAINT [FK_auth_Role]
GO

# [FK_Book_NXB]

In [0]:
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_NXB]
GO

# [FK_CT_Muon_Tra_Book]

In [0]:
ALTER TABLE [dbo].[CT_Muon_Tra]  WITH CHECK ADD  CONSTRAINT [FK_CT_Muon_Tra_Book] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Book] ([MaSach])
GO
ALTER TABLE [dbo].[CT_Muon_Tra] CHECK CONSTRAINT [FK_CT_Muon_Tra_Book]
GO

# [FK_CT_Muon_Tra_Muon_Tra]

In [0]:
ALTER TABLE [dbo].[CT_Muon_Tra]  WITH CHECK ADD  CONSTRAINT [FK_CT_Muon_Tra_Muon_Tra] FOREIGN KEY([MaMT])
REFERENCES [dbo].[Muon_Tra] ([MaMT])
GO
ALTER TABLE [dbo].[CT_Muon_Tra] CHECK CONSTRAINT [FK_CT_Muon_Tra_Muon_Tra]
GO

# [FK_Muon_Tra_NhanVien]

In [0]:
ALTER TABLE [dbo].[Muon_Tra]  WITH CHECK ADD  CONSTRAINT [FK_Muon_Tra_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Muon_Tra] CHECK CONSTRAINT [FK_Muon_Tra_NhanVien]
GO

# [FK_Muon_Tra_The_Thu_Vien]

In [0]:
ALTER TABLE [dbo].[Muon_Tra]  WITH CHECK ADD  CONSTRAINT [FK_Muon_Tra_The_Thu_Vien] FOREIGN KEY([id_the])
REFERENCES [dbo].[The_Thu_Vien] ([idThe])
GO
ALTER TABLE [dbo].[Muon_Tra] CHECK CONSTRAINT [FK_Muon_Tra_The_Thu_Vien]
GO

# [FK_NhanVien_auth]

In [0]:
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_auth] FOREIGN KEY([TenCV])
REFERENCES [dbo].[auth] ([TenCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_auth]
GO

# [QLThuvien]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [QLThuvien] SET  READ_WRITE 
GO